.budget-modal {
    width: 100%;
    height: auto;
    border: solid 4px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    z-index: 10;
    padding: 15px;
}

.budget-modal-header {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.budget-modal .budget-modal-body {
    display: flex;
    flex-direction: column;
}

.budget-modal-close-icon {
    display: flex;
    justify-content: flex-end;
}

.form-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    margin-bottom: 1rem;
}

label {
    width: 90%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

input {
    width: 90%;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    border: solid 4px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    padding: 15px 5px;
    cursor: pointer;
}

input[type=submit]:active {
    border: solid 4px black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    transform: translateY(6px);
}

.modal {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100vw;
    background: rgb(155, 155, 155);
    z-index: 2;
    padding: 1rem;
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.expenses-list {
    font-size: 14px;
}

.nes-container {
    padding: .75rem;
}

ul {
    padding-inline-start: 20px;
}

li {
    margin: 1rem 0;
    text-align: left;
}

.view-expenses-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}