* {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    margin: 0;
}

.App {
    text-align: center;
    margin-top: 30px;
}

body {
    font-family: 'Press Start 2P', cursive, -apple-system, BlinkMacSystemFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    background-color: rgb(221, 221, 221);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}